.footer {
  padding: 38px 0;
  background: #111;
  text-align: center;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  color: #ccc;
  display: inline-block;
  font-size: 14px;
  margin: 0 24px;
}

.list-item:hover {
  color: #eee;
}

.author {
  color: #3c3c3c;
  font-size: 14px;
  margin: 18px 0 0;
}